/*.menu {
    background-color:  #2b3e50;
}*/

#appBody {
    color: #303030;
    background-color: #fff;
}

#appBody h3 a {
    color: #307699;
}

.hidden.menu {
    display: none;
}

a {
    color: #307699;
}

.timeline-body .dropdown-menu li {
    font-size: 1.33em;
}

.ui.menu .item {
    color: #fff;
}

.ui.menu .active.item {
    color: rgba(255, 255, 255, 0.55);
}

#main-image {
    background-image: url(../assets/images/color.png);
    background-color: #781554;
    /*background-image: url(../assets/images/color.png)!important;*/
    background-size: cover;
}

#top-navbar {
    /*border-color: #1e3547;
    background-color: #303030;*/
    border: none;
}

#following-navbar {
    background-color: #781554;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.header {
    color: #294860;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
    /*background-color: #303030;*/
    /*background-image: linear-gradient(to right, rgba(30, 53, 71, 0), rgba(30, 53, 71, 0.75), rgba(30, 53, 71, 0));*/
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

#footer {
    background-color: #294860;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}