<div class="ui text container">
    <h1 class="ui inverted header">Society of Mind</h1>
    <h2>Do whatever you want when you want to.</h2>
    <!--<div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>-->
</div>