<div id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#statement" class="item">Who am I</a>
                    <a href="#background&work" class="item">Work & background</a>
                    <a href="#projects" class="item">Projects</a>
                    <a href="#contact" class="item">Get in touch</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Projects</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Follow me on</h4>
                <p>Facebook logo, twitter logo, stackoverflow logo</p>
            </div>
        </div>
    </div>
</div>