<div class="ui vertical stripe segment">
            <p ng-transclude></p>
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">Facial Expressions on virtual characters</h3>
                        <p>Simulating basic expressions ( happiness, sadness etc.) with OpenGL C++ on virtual characters designed in Autodesk 3Ds Max.</p>
                        <!--<h3 class="ui header">We Make Bananas That Can Dance</h3>
                        <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>-->
                    </div>
                    <div class="six wide right floated column">
                        <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a class="ui huge button">Check Them Out</a>
                    </div>
                </div>
            </div>
        </div>