<script>
     $(document)
        .ready(function () {
            $('.timeline-panel')
                .visibility({
                    once: true,
                    onTopVisible: function () {
                        $('.timeline-panel').transition('fade in');
                        $('.timeline-panel').duration(500);
                    }/*,*/
                   /* onBottomPassedReverse: function () {
                        $('.timeline-panel').transition('vertical flip in');
                        $('.timeline-panel').duration(500);*/
                /*}*/
             });
         });
</script>

<div class="ui vertical stripe segment">
    <p ng-transclude></p>
    <div class="container">
        <!--<div class="page-header">
    <h1 id="timeline">Timeline</h1>
</div>-->
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel hidden transition">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Software Engineer @ Detusche Bank</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 6 months : March - present</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Angular js, Javascript, HTML5, CSS3, Node js, Bootstrap</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel hidden transition">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Software Engineer @ Misys</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 1 year 5 months : November 2013 - March 2015</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>C, C++, OOP, real-time servers</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel hidden transition">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Analyst Programmer @ Romtelecom</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 1 year 2 months : October 2012 - November 2013</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Web services, SOA & MIDDLEWARE</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-panel hidden transition">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">3D Artist Training @ UPB by Ubisoft</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 months : June 2012 - July 2012</small></p>
                    </div>
                    <div class="timeline-body">
                        <ul class="dropdown-menu" role="menu">
                            <li>3D modelling (Autodesk 3D Studio Max)</li>
                            <li>Projects for game industry - buildings and environment scenes</li>
                            <li>Final project - environment scene</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                <div class="timeline-panel hidden transition">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">3D Artist Training @ UPB by AMC Pixel Factory</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 months : June 2012 - July 2012</small></p>
                    </div>
                    <div class="timeline-body">
                        <ul class="dropdown-menu" role="menu">
                            <li>3D modelling and texturing (Autodesk Maya)</li>
                            <li>Projects for game industry - small objects for environment scenes</li>
                            <li>Modelling - Autodesk Maya</li>
                            <li>Texturing - DiffuseMap, NormalMap, SpecularMap (Adobe Photoshop)</li>
                        </ul>
                       <!-- <hr>-->
                        <!--<div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-panel hidden transition">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Web Developer @ Cronian Labs</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 7 months : June 2011 - December 2011</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Ruby on Rails, Javascript, HTML, CSS</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                <div class="timeline-panel hidden transition">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Assistent Manager @ UPB</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 months : April 2010 - February 2011</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Managed 2 European projects regarding educational software development:  MENUET, a Leonardo da Vinci project and CIFRU, a POSDRU project.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>